@media (max-width: 991px) {
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title_left {
    text-align: center;
  }

  .consultation {
    padding: 100px 0 92px 0;
    margin: 0 auto;
  }
  .consultation__descr {
    text-align: center;
  }

  .feed-form {
    margin: 36px auto 0 auto;
  }
}
@media (max-width: 767px) {
  .header {
    margin-top: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__logo {
    width: 30%;
  }
  .header__official {
    width: 30%;
    font-size: 12px;
  }
  .header__official span {
    font-size: 18px;
    line-height: 29px;
  }
  .header__phone {
    font-size: 16px;
    text-align: center;
  }
  .header__contacts {
    width: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo {
    padding: 21px 0 33px 0;
  }
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 45px;
  }
  .promo__header {
    font-size: 36px;
    line-height: 36px;
  }
  .promo__subheader {
    margin-top: 14px;
    font-size: 20px;
    line-height: 20px;
  }
  .promo__icons {
    margin-top: 22px;
    width: 425px;
  }
  .promo__icon {
    width: 106px;
    font-size: 12px;
    text-align: center;
  }
  .promo__icon img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }
  .promo__link {
    margin-top: 16px;
    font-size: 14px;
  }

  .button {
    width: 143px;
    height: 24px;
    font-size: 12px;
  }
  .button_main {
    margin-top: 24px;
    width: 242px;
    height: 43px;
    font-size: 13px;
  }
  .button_submit {
    width: 100%;
    height: 48px;
    font-size: 16px;
  }

  .title {
    margin-top: 8px;
    font-size: 23px;
  }
  .title_left {
    font-size: 22px;
    line-height: 32px;
  }

  .benefits {
    max-height: 378px;
    padding: 28px 0 22px 0;
  }
  .benefits__wrapper {
    margin-top: 24px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .benefits__item {
    width: 200px;
  }
  .benefits__item img {
    width: 52px;
    height: 52px;
  }
  .benefits__subheader {
    margin-top: 20px;
    font-size: 15px;
  }
  .benefits__descr {
    margin-top: 16px;
    font-size: 11px;
    line-height: 14px;
  }
  .benefits__descr span {
    font-size: 12px;
  }

  .consultation {
    padding: 35px 0 35px 0;
    margin: 0 auto;
  }
  .consultation__descr {
    font-size: 14px;
    line-height: 22px;
  }

  .feed-form {
    margin: 26px auto 0 auto;
  }
  .feed-form input {
    height: 48px;
    padding: 0 20px;
  }
  .feed-form input:nth-child(3) {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    margin-top: 10px;
    width: 250px;
  }
  .header__official {
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
  }
  .header__official span {
    font-size: 24px;
  }
  .header__phone {
    margin-top: 12px;
    font-size: 18px;
    text-align: center;
  }
  .header__contacts {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo {
    padding: 21px 0 28px 0;
  }
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 24px;
  }
  .promo__header {
    font-size: 25px;
    line-height: 25px;
  }
  .promo__subheader {
    margin-top: 17px;
    font-size: 14px;
    line-height: 14px;
  }
  .promo__icons {
    margin-top: 20px;
    width: 285px;
  }
  .promo__icon {
    width: 126px;
    font-size: 10px;
  }
  .promo__icon img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }
  .promo__link {
    margin-top: 9px;
    font-size: 13px;
  }

  .button {
    margin-top: 15px;
    width: 153px;
    height: 32px;
  }
  .button_main {
    margin-top: 17px;
    width: 233px;
    height: 36px;
    font-size: 14px;
  }
  .button_submit {
    width: 100%;
    height: 55px;
    font-size: 16px;
  }

  .benefits {
    max-height: none;
    padding: 30px 0 26px 0;
  }
  .benefits__title {
    font-size: 24px;
  }
  .benefits__wrapper {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefits__item {
    width: 275px;
    margin-top: 18px;
  }
  .benefits__item img {
    width: 60px;
    height: 60px;
  }
  .benefits__subheader {
    margin-top: 15px;
    font-size: 18px;
  }
  .benefits__descr {
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
  }
  .benefits__descr span {
    font-size: 13px;
  }
}